@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link type="text/css" rel="stylesheet" href="../../Content/Site.css" />
    <title>Система учета успеваемости студентов</title>
</head>
<body>
    <div>
        <h1>Топ 5 лучших и худших студентов по сумме баллов</h1>
        <table class="bestworst">
            <tr>
                <td><p>Имя</p></td>
                <td><p>Фамилия</p></td>
                <td><p>Номер группы</p></td>
                <td><p>Факультет</p></td>
                <td><p>Email</p></td>
                <td><p>Сумма баллов</p></td>
                <td></td>
            </tr>
            @foreach (var b in ViewBag.Best)
            {
                <tr class="best">
                    <td><p>@b.firstName</p></td>
                    <td><p>@b.lastName</p></td>
                    <td><p>@b.group</p></td>
                    <td><p>@b.faculty</p></td>
                    <td><p>@b.email</p></td>
                    <td><p>@b.all</p></td>
                    <td>
                        <p>
                            <a href="/Home/ChangeUser?id=@b.Id&firstName=@b.firstName
                              &lastName=@b.lastName&email=@b.email&group=@b.group&faculty=@b.faculty
                              &mark1=@b.mark1&mark2=@b.mark2&mark3=@b.mark3&mark4=@b.mark4&mark5=@b.mark5">
                                Изменить
                            </a>
                        </p>
                    </td>
                </tr>
            }
            @foreach (var b in ViewBag.Worst)
            {
                <tr class="worst">
                    <td><p>@b.firstName</p></td>
                    <td><p>@b.lastName</p></td>
                    <td><p>@b.group</p></td>
                    <td><p>@b.faculty</p></td>
                    <td><p>@b.email</p></td>
                    <td><p>@b.all</p></td>
                    <td>
                        <p>
                            <a href="/Home/ChangeUser?id=@b.Id&firstName=@b.firstName
                              &lastName=@b.lastName&email=@b.email&group=@b.group&faculty=@b.faculty
                              &mark1=@b.mark1&mark2=@b.mark2&mark3=@b.mark3&mark4=@b.mark4&mark5=@b.mark5">
                                Изменить
                            </a>
                        </p>
                    </td>
                </tr>
            }
        </table>
    </div>
</body>
</html>